.place-details {
  max-width: 800px;
  margin: 0px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.place-image {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  object-fit: cover;
  margin-bottom: 15px;
}

.selection {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.confirmation p {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
}

button {
  padding: 12px 25px;
  background-color: #7d03a2;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
button:hover {
  background-color: #218838;
}

.back {
  padding: 12px 24px;
  background-color: #7d03a2;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
